@charset "utf-8";

/* 共通設定 */
html {
  font-size: 62.5%;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
  color: #333;
}

ul,
li {
  list-style: none;
}

.body {
  color: #333;
}

#container {
  width: 100%;
  overflow: hidden;
}

.wrapper {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 5rem;
}

.section__title {
  margin-bottom: 5rem;
  font-size: 2.4rem;
  text-align: center;
}

.view-button {
  display: block;
  font-size: 1.2rem;
  border: 1px solid #ccc;
  padding: 1.6rem 6.2rem;
  text-align: center;
  width: 20%;
  margin: 0 auto;
}

/* ヘッダー */
.header {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 6rem;
  border-bottom: 1px solid #eee;
  background: #fff;
}

.header__inner {
  display: flex;
  height: 100%;

  align-items: center;
  justify-content: space-between;
}

.header__hamburger {
  display: none;
}

.header__title {
  font-size: 4rem;
}

.header__list {
  display: flex;

  align-items: center;
  justify-content: space-between;
}

.header__item {
  margin-left: 3rem;
}

.header__item a {
  font-size: 1.5rem;
}

/* .top__image */
.top__image {
  margin-top: 6rem;
  overflow: hidden;
}

.top__swiper {
  width: 100%;
  max-width: 1040px;
  margin: 0 auto;
  overflow: visible;
}

.top__inner {
  position: relative;
  padding: 4rem 5rem;
}

.top__pagination {
  left: 50%;
  position: absolute;
}

.swiper-pagination-bullet {
  background: #eee;
  border: 1px solid #888;
}

.top__button--prev,
.top__button--next {
  width: 24px;
  height: 40px;
  transform: translateY(-50%);
  margin-top: 0;
  position: absolute;
}

.top__button--prev {
  left: 6%;
}

.top__button--next {
  right: 6%;
}

.top__button--prev:after,
.top__button--next:after {
  color: #888;
  font-size: 4em;
}

/* category */
.category {
  padding-bottom: 10rem;
}

.category__list {
  display: grid;

  grid-template-columns: repeat(4, 1fr);
  grid-gap: 0 4rem;
  margin-bottom: 5rem;
}

.category__item {
  position: relative;
  width: 100%;
}

.category__txt01 {
  position: absolute;
  top: 20%;
  left: 5%;
}

.category__txt02 {
  position: absolute;
  top: 20%;
  right: 5%;
}

.category__txt03 {
  position: absolute;
  top: 40%;
  right: 5%;
}

.category__txt04 {
  position: absolute;
  top: 25%;
  left: 5%;
}

.category__txt p {
  font-size: 1.2rem;
}

.category__txt h3 {
  font-size: 2rem;
}

/*coordinate*/
.coordinate {
  padding-bottom: 10rem;
}

.coordinate__inner {
  display: flex;
  margin-bottom: 5rem;
}

.coordinate__item {
  position: relative;
  width: 100%;
  height: auto;
}

.coordinate__txt {
  position: absolute;
  background: #fff;
  padding: 4.2rem 7.4rem 3.7rem;
}

.coordinate__item01 {
  margin-right: 11.6rem;
  width: 525px;
  height: 630px;
}

.coordinate__item02,
.coordinate__item03 {
  width: 270px;
  height: 324px;
}

.coordinate__item03 {
  margin-left: 25rem;
  margin-top: -1.8rem;
}

.coordinate__txt01 {
  top: 60%;
  right: -40%;
}

.coordinate__txt02 {
  top: 30%;
  right: -80%;
}

.coordinate__txt03 {
  top: 50%;
  left: -80%;
}

/* new */
.new {
  padding-bottom: 10rem;
}

.new__inner {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 0 4.8rem;
  margin-bottom: 5rem;
}

.new__txt {
  margin-top: 2.1rem;
}

.new__price {
  margin-top: 2rem;
}

/* concept */
.concept {
  padding-bottom: 6rem;
}

.concept__inner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.concept__img {
  width: 480px;
  height: 290px;
  margin-right: 8rem;
}

.concept__img img {
  object-fit: cover;
}

.concept__txt {
  font-size: 1.2rem;
  line-height: 3rem;
  max-width: 386px;
}

/* recently viewed */
.recently {
  padding: 6rem 5rem 10.4rem;
}

.recentry__swiper {
  margin: 0 5rem;
}

.recentry__wrapper {
  width: 100%;
  height: 192px;
}

.recently__inner {
  position: relative;
}

.recently__slide {
  width: 100%;
  height: 100%;
}

.recently__button--prev,
.recently__button--next {
  width: 24px;
  height: 40px;
  transform: translateY(-50%);
  margin-top: 0;
  position: absolute;
}

.recently__button--prev:after,
.recently__button--next:after {
  color: #888;
  font-size: 2rem;
}

/* sns */
.sns {
  display: flex;
  justify-content: flex-start;
  gap: 0 2.6rem;
  padding-bottom: 2.9rem;
}

/* footer */
.footer {
  background: #333;
  padding: 2.7rem 0 4.5rem;
  text-align: center;
}

.footer__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__list {
  font-size: 1.2rem;
  display: grid;
  grid-template-columns: repeat(8, auto);
}

.footer__item {
  margin-right: 2.4rem;
}

.footer__title {
  font-size: 3.6rem;
}

.footer a {
  color: #fff;
}

.copyright {
  display: block;
  color: #fff;
  font-size: 1.1rem;
  margin-top: 2.9rem;
}

/* top__link ボタン */
.top__link {
  display: none;
}

.top__link.open {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: #fff;
  border: 1px solid #dadada;
  text-align: center;
  position: fixed;
  right: 3.8%;
  bottom: 8%;
  z-index: 500;
}

.top__link span {
  display: inline-block;
  vertical-align: middle;
  color: #dadada;
  line-height: 1;
  width: 0.7em;
  height: 0.7em;
  border: 0.1em solid currentColor;
  border-left: 0;
  border-bottom: 0;
  box-sizing: border-box;
  transform: translateY(25%) rotate(-45deg);
}

@media (max-width: 750px) {
  .wrapper {
    max-width: 750px;
    margin: 0 auto;
    padding: 0 3em;
  }

  .section__title {
    font-size: 4rem;
    margin-bottom: 6rem;
  }

  .view-button {
    font-size: 2.4rem;
    width: 72%;
  }

  /* header */
  .header {
    width: 100%;
    height: 10rem;
  }

  .header__inner {
    justify-content: center;
  }

  .header__title {
    font-size: 8rem;
  }

  .header__list {
    position: fixed;
    top: 0;
    right: -100%;
    width: 70%;
    height: 100vh;
    background: #fff;
    transition: 0.4s;
    padding-top: 10.2rem;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .header__list.open {
    right: 0;
  }

  .header__item {
    margin-bottom: 3.6rem;
  }

  .header__item a {
    font-size: 2.4rem;
  }

  .header__hamburger {
    display: block;
    position: fixed;
    right: 4%;
    z-index: 10;
  }

  .hamburger__line {
    display: block;
    position: relative;
    width: 50px;
    height: 4px;
    background-color: #000;
    transition: 0.2s;
    margin: 0 auto;
  }

  .hamburger__line::before,
  .hamburger__line::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000;
    transition: 0.5s;
    left: 0;
  }

  .hamburger__line::before {
    transform: translateY(-12px);
  }

  .hamburger__line::after {
    transform: translateY(12px);
  }

  .hamburger__line.open {
    background-color: transparent;
  }

  .hamburger__line.open::before,
  .hamburger__line.open::after {
    content: "";
    background-color: #000;
    transition: 0.2s;
  }

  .hamburger__line.open::before {
    transform: rotate(45deg);
  }

  .hamburger__line.open::after {
    transform: rotate(-45deg);
  }

  /* .top__image */
  .top__image {
    margin-top: 10rem;
  }

  .top__inner {
    padding: 4rem 0 10.4rem;
  }

  .top__pagination {
    top: 88%;
  }

  .top__button--prev,
  .top__button--next {
    display: none;
  }

  /* category */
  .category {
    padding-bottom: 9.9rem;
  }

  .category__list {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 3rem;
    margin-bottom: 5.9rem;
  }

  .category__txt p {
    font-size: 1.5rem;
  }

  .category__txt h3 {
    font-size: 2.4rem;
  }

  /* coordinate */
  .coordinate {
    padding-bottom: 9.9rem;
  }

  .coordinate__inner {
    flex-direction: column;
    margin-bottom: 6rem;
  }

  .coordinate__item {
    max-width: 345px;
    max-height: 415px;
    margin: 0;
  }

  .coordinate__item02 {
    margin-left: auto;
  }

  .coordinate__txt {
    max-width: 400px;
  }

  .coordinate__txt01,
  .coordinate__txt03 {
    padding: 4rem 0 4.1rem 3.9rem;
  }

  .coordinate__txt02 {
    padding: 4rem 3.9rem 4.1rem 0;
  }

  .coordinate__txt01 {
    top: 30%;
    right: -100%;
  }

  .coordinate__txt02 {
    top: 30%;
    left: -100%;
    text-align: end;
  }

  .coordinate__txt03 {
    top: 30%;
    left: 85%;
  }

  .coordinate__txt p {
    font-size: 1.8rem;
  }

  .coordinate__txt h3 {
    font-size: 3.6rem;
    font-weight: 400;
  }

  /* new */
  .new {
    padding-bottom: 9.9rem;
  }
  .new__inner {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 4.8rem;
    margin-bottom: 6rem;
  }

  /* concept */
  .concept {
    padding-bottom: 9.9rem;
  }

  .concept__inner {
    flex-direction: column;
  }

  .concept__img {
    margin-right: 0;
  }

  .concept__txt {
    margin: 2rem auto 0;
    font-size: 1.5rem;
  }

  /* recently */
  .recently {
    padding-bottom: 30.2rem;
  }

  /* sns */
  .sns {
    justify-content: center;
    gap: 0 9.2rem;
    padding-bottom: 8rem;
    align-items: center;
  }

  .sns__item img {
    width: 36px;
    height: 29px;
    object-fit: contain;
  }

  /* footer */
  .footer {
    padding: 10rem 0;
  }

  .footer__title {
    font-size: 6rem;
  }

  .footer__nav {
    flex-direction: column;
    align-items: center;
    gap: 10rem 0;
  }

  .footer__list {
    font-size: 2.4rem;
    grid-template-columns: 1fr 1fr;
    gap: 7rem 0;
  }

  .footer__item {
    margin-right: 0;
    text-align: left;
  }

  .copyright {
    font-size: 1.8rem;
    margin-top: 10rem;
  }
}

/* @media (max-width: 1300px) {
  .category__txt h3 {
    font-size: 3rem;
  }
} */
