@charset "utf-8";

/*pc first*/
.mobile_only{
  display: none;
}

/* memo */
.font-size-dummy {
    font-size: .4375rem;  /*  7px */
    font-size: .5625rem;  /*  9px */
    font-size: .625rem;  /* 10px */
    font-size: .6875rem;  /* 11px */
    font-size: .75rem;   /* 12px */
    font-size: .8125rem; /* 13px */
    font-size: .875rem;  /* 14px */
    font-size: 1rem;     /* 16px */
    font-size: 1.125rem; /* 18px */
    font-size: 1.25rem;  /* 20px */
    font-size: 1.375rem;  /* 22px */
    font-size: 1.5rem;   /* 24px */
    font-size: 1.75rem;  /* 28px */
}

body{
	color: #333;
	background-color: #fff;
  font-family: 'メイリオ' ,sans-serif;
	font-size: 1rem;
  width: 1300px;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows   :
    [header] 60px
    [blank] 40px
    [main_slider] 500px
    [blank] 50px
    [pickup_banner] 119px
    [blank] 50px
    [view_more] 40px
    [blank] 100px
    [coordinate] 697px
    [blank] 50px
    [view_more] 40px
    [blank] 100px
    [new] 391px
    [view_more] 40px
    [blank] 100px
    [concept] 358px
    [blank] 60px
    [recently_viewed] 321px
    [blank] 105px
    [share] 48px
    [footer] 122px;
}
h1{ /*h1は画像だが一応設定*/
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  text-align: center;
}
h2{
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  text-align: center;
}
a{
  color: #333;
}

/*--- structures ---*/

/*header*/
header{
  grid-column: 1 / 2;
  grid-row   : 1 / 2;
  width: 1300px;
  height: 50px;
}
.head{
  padding: 0 50px;
  display: flex;
  align-items: center;
  height: 50px;
  justify-content: space-between;
}
.li_nav li{
  font-family: 'Montserrat', sans-serif;
  font-size: 0.9rem;
  display: inline-block;
}
.li_nav li a{
  padding: 0.5rem;
}
.li_nav li a:hover{
  background-color: #ccc;
}

/*slider*/
.main_slider{
  /*background-color: #f00;*/
}
.slider-item:hover{
  cursor: pointer;
}

/*pickup_banner*/
.pickup_banners{
  padding: 0 50px;
  display: grid;
  grid-template-columns: 270px 270px 270px 270px;
  grid-template-rows : 119px;
  justify-content: space-between;
}
figure{
  width: 270px;
  height: 119px;
  position: relative;
}
.figure01{
  background-image: url("../img/banner_sample02.png");
}
.figure02{
  background-image: url("../img/banner_sample02.png");
}
.figure03{
  background-image: url("../img/banner_sample02.png");
}
.figure04{
  background-image: url("../img/banner_sample02.png");
}
.figure01_texts{
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translate(0%, -50%);
  -webkit-transform: translate(0%, -50%);
  -ms-transform: translate(0%, -50%);
}
.figure02_texts{
  position: absolute;
  left: 30%;
  top: 25%;
}
.figure03_texts{
  position: absolute;
  right: 0;
  bottom: 0;
}
.figure_subtitle{
  font-size: 0.75rem;
  margin: 0.2rem 0;
  padding: 0 1rem;
}
.figure_title{
  font-size: 1.25rem;
  line-height: 1.5rem;
  margin: 0.2rem 0;
  padding: 0 1rem;
  white-space: nowrap;
}

/*view more*/
.viewmore{
  text-align: center;
  height: 40px;
}
.btn_viewmore{
  display: table-cell;
  vertical-align: middle;
  font-family: 'Montserrat', sans-serif;
  font-size: .75rem;
  width: 210px;
  height: 40px;
  border: 1px #ccc solid;
  padding: 0 1rem;
}
.btn_viewmore:hover{
  background-color: #ccc;
}

/*coordinate*/
.coordinate{
  position: relative;
}
.coordinate01{
  background-color: #eee;
  position: absolute;
  width: 525px;
  height: 630px;
  top: 67px;
  left: 69px;
  cursor: pointer;
  background-image: url("");
}
.coordinate02{
  background-color: #ccc;
  position: absolute;
  width: 270px;
  height: 324px;
  top: 67px;
  left: 710px;
  cursor: pointer;
  background-image: url("");
}
.coordinate03{
  background-color: #eee;
  position: absolute;
  width: 270px;
  height: 324px;
  top: 373px;
  left: 958px;
  cursor: pointer;
  background-image: url("");
}
.coordinate_box01{
  background-color: #fff;
  position: absolute;
  width: 259px;
  height: 119px;
  top: 420px;
  left: 555px;
  margin-right: auto;
	margin-left: auto;
	display: grid;
	place-items: center center;
}
.coordinate_box02{
  background-color: #fff;
  position: absolute;
  width: 200px;
  height: 118px;
  top: 147px;
  left: 950px;
  display: grid;
  place-items: center center;
}
.coordinate_box03{
  background-color: #fff;
  position: absolute;
  width: 200px;
  height: 116px;
  top: 530px;
  left: 798px;
  display: grid;
  place-items: center center;
  text-align: right;
}
.coordinate_date{
  font-family: 'Montserrat', sans-serif;
  font-size: .625rem;
  color:#ccc;
  margin: 0.5rem 0;
}
.coordinate_text{
  font-family: 'Montserrat', sans-serif;
  font-size: 1.375rem;
  margin: 0.5rem 0;
}

/*new*/
.new{
  width: 100%;
  height: 391px;
  padding: 0 50px;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows:
    [title] 68px
    [section] 323px
}
.new_section{
  width: 100%;
  height: 323px;
  display: grid;
  grid-template-columns: 160px 160px 160px 160px 160px 160px;
  grid-template-rows: 323px;
  justify-content: space-between;
}
.new_img{
  /*background-color: #fcc;*/
}
.new_explain{
  margin: 1rem 0 0;
}
.new_explain p{
  padding: 0.3rem 0.5rem 0rem;
  font-size: .625rem;
  line-height: 1.2rem;
}

/*concept*/
.concept{
  width: 100%;
  height: 358px;
  padding: 0 150px;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows:
    [title] 68px
    [section] auto;
}
.concept_section{
  display: grid;
  grid-template-columns: 50% 50%;
}
.concept_img{
  width: 480px;
  height: 290px;
  background-color: #ccc;
}
.concept_text{
  padding: 5rem 4rem 4rem;
}
.concept_text p{
  font-size: .75rem;
  line-height: 1.8rem;
}

/*recently viewed*/
.recently_viewed{
  width: 100%;
  /*height: 321px;*/
  padding: 0 50px;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows:
    [blank] 60px
    [title] 68px
    [section] auto;
}

/*share*/
.share{
  width: 100%;
  height: 48px;
  padding: 0 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.share_icon{
  margin-right: 1rem;
}
.btn_gototop_area{
  margin: 0 0 1rem;
}
.btn_gototop{
  display: inline-block;
  width: 40px;
  height: 40px;
  border: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.btn_gototop:hover{
  background-color: #ccc;
}

/*footer*/
footer{
  width: 100%;
  height: 122px;
  padding: 1rem 50px;
  background-color: #333;
  color: #fff;
}
.footer_navs{
  display: flex;
  justify-content: space-between;
}
.white_logo{
  margin: 10px 0;
}
.footer_li_nav li{
  display: inline-block;
  font-size: .75rem;
  margin-right: 1.6rem;
  padding: 1rem 0;
}
.footer_li_nav a{
  color: #fff;
  padding: 0.3rem 0;
}
.footer_li_nav a:hover{
  background-color: #aaa;
}
.allright{
  font-size: .6875rem;
  text-align: center;
  margin: 1rem 0;
}





/*--- mobile ---*/
@media screen and (max-width: 480px) {
	/* 以下に適用されるCSS（スマホ用） */

  .pc_only{
    display: none;
  }
  .mobile_only{
    display: block;
  }
  body{
    width: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows   :
      [header] 60px
      [blank] 40px
      [main_slider] 261px
      [blank] 50px
      [pickup_banner] 161px
      [blank] 30px
      [view_more] 40px
      [blank] 50px
      [coordinate] 697px
      [blank] 30px
      [view_more] 40px
      [blank] 50px
      [new] 840px
      [view_more] 40px
      [blank] 50px
      [concept] 400px
      [blank] 30px
      [recently_viewed] 160px
      [blank] 105px
      [share] 110px
      [footer] 260px;
  }
  h2{
    font-size: 1.25rem;
  }

  /*header*/
  header{
    grid-column: 1 / 2;
    grid-row   : 1 / 2;
    width: 100%;
    height: 50px;
    position: relative;
  }
  .head{
    padding: 0;
    display: flex;
    align-items: center;
    height: 50px;
    justify-content:center;
  }
  .logo_space{
    margin: 1rem 0 0;
  }

  /*pickup_banner*/
  .pickup_banners{
    padding: 0 15px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows : 73px 73px;
    justify-content: space-between;
    gap: 15px 10px;
  }
  figure{
    background-color: #ccc;
    width: 165px;
    height: 73px;
    position: relative;
  }
  .figure01{
    background-image: url("../img/banner_sample02.png");
  }
  .figure02{
    background-image: url("../img/banner_sample02.png");
  }
  .figure03{
    background-image: url("../img/banner_sample02.png");
  }
  .figure04{
    background-image: url("../img/banner_sample02.png");
  }
  .figure01_texts{
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(0%, -50%);
    -webkit-transform: translate(0%, -50%);
    -ms-transform: translate(0%, -50%);
  }
  .figure02_texts{
    position: absolute;
    left: 30%;
    top: 25%;
  }
  .figure03_texts{
    position: absolute;
    right: 0;
    bottom: 0;
  }
  .figure_subtitle{
    font-size: .4375rem;
    margin: 0.1rem 0;
    padding: 0 1rem;
  }
  .figure_title{
    font-size: .75rem;;
    line-height: 0.8rem;
    margin: 0.3rem 0;
    padding: 0 1rem;
    white-space: nowrap;
  }

  /*view more*/
  .viewmore{
    text-align: center;
    height: 40px;
  }
  .btn_viewmore{
    font-size: .75rem;
    width: 210px;
    height: 40px;
    padding: 0 1rem;
  }

  /*coordinate*/
  .coordinate{
    position: relative;
  }
  .mobile_coordinate{
    padding: 30px 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows : 207px 207px 207;
    justify-content: space-between;
    position: relative;
  }
  .coordinate01{
    background-color: #eee;
    position: relative;
    width: 100%;
    height: 207px;
    top: 0;
    left: 0;
    cursor: pointer;
    background-image: url("");
  }
  .coordinate02{
    background-color: #ccc;
    position: relative;
    width: 100%;
    height: 207px;
    top: 0;
    left: 0;
    cursor: pointer;
    background-image: url("");
  }
  .coordinate03{
    background-color: #eee;
    position: relative;
    width: 100%;
    height: 207px;
    top: 0;
    left: 0;
    cursor: pointer;
    background-image: url("");
  }
  .coordinate_box01{
    background-color: #fff;
    position: absolute;
    width: 150px;
    height: 80px;
    top: 120px;
    left: 160px;
    margin-right: auto;
  	margin-left: auto;
  	display: grid;
  	place-items: center center;
  }
  .coordinate_box02{
    background-color: #fff;
    position: absolute;
    width: 150px;
    height: 80px;
    top: 320px;
    left: 65px;
    margin-right: auto;
  	margin-left: auto;
  	display: grid;
  	place-items: center center;
  }
  .coordinate_box03{
    position: absolute;
    width: 150px;
    height: 80px;
    top: 530px;
    left: 160px;
    margin-right: auto;
  	margin-left: auto;
  	display: grid;
  	place-items: center center;
  }
  .coordinate_date{
    font-size: .5625rem;
    margin: 0.5rem 0;
  }
  .coordinate_text{
    font-size: 1.125rem;
    margin: 0.5rem 0;
  }

  /*new*/
  .new{
    width: 100%;
    height: 700px;
    padding: 0 50px;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows:
      [title] 50px
      [section] 800px
  }
  .new_section{
    width: 100%;
    height: 323px;
    display: grid;
    grid-template-columns: 130px 130px;
    grid-template-rows: 250px 250px 250px;
    justify-content: space-between;
    gap: 5px;
  }
  .new_img{
    /*background-color: #ccc;*/
  }
  .new_img img{
    width: 130px;
    height: auto;
  }
  .new_explain{
    margin: 0.3rem 0 0;
  }
  .new_explain p{
    padding: 0.2rem 0.5rem 0rem;
    font-size: .4375rem;
    line-height: 1rem;
  }

  /*concept*/
  .concept{
    width: 100%;
    height: 400px;
    padding: 0 30px;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows:
      [title] 40px
      [section] auto;
  }
  .concept_section{
    display: grid;
    grid-template-columns: 100%;
  }
  .concept_img{
    width: 100%;
    height: 180px;
    background-color: #ccc;
  }
  .concept_text{
    padding: 1rem;
  }
  .concept_text p{
    font-size: .625rem;
    line-height: 1.6rem;
  }

  /*recently viewed*/
  .recently_viewed{
    width: 100%;
    height: 200px;
    padding: 0 30px;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows:
      [blank] 30px
      [title] 34px
      [section] auto;
  }

  /*share*/
  .share{
    width: 100%;
    height: 48px;
    padding: 0 30px;
    display: block;
    align-items: center;
  }
  .btn_gototop_area02{
    display: flex;
    justify-content:flex-end;
    height: 40px;
    margin-bottom: 1rem;
  }
  .share_mobile{
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
  }

  /*footer*/
  footer{
    width: 100%;
    height: 260px;
    padding: 1rem 30px;
    background-color: #333;
    color: #fff;
  }
  .footer_navs{
    display: block;
  }
  .footer_li_nav{
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows   : 2rem 2rem 2rem 2rem;
  }
  .white_logo{
    margin: 2rem 0;
    text-align: center;
  }
  .footer_li_nav li{
    display: inline-block;
    font-size: .625rem;  /* 10px */
    margin-right: 1.6rem;
    padding: 0.5rem 0;
  }
  .footer_li_nav a{
    color: #fff;
    padding: 0.3rem 0;
  }




  /* ハンバーガーアイコン */

  /* ここから下がハンバーガーメニューに関するCSS */
  /* チェックボックスを非表示にする */
  .drawer_hidden {
    display: none;
  }
  /* ハンバーガーアイコンの設置スペース */
  .drawer_open {
    display: flex;
    height: 50px;
    width: 50px;
    justify-content: center;
    align-items: center;
    position: absolute;
  	right: 15px;
  	top: 10px;
    z-index: 10000;/* 重なり順を一番上にする */
    cursor: pointer;
  }

  /* ハンバーガーメニューのアイコン */
  .drawer_open span,
  .drawer_open span:before,
  .drawer_open span:after {
    content: '';
    display: block;
    height: 2px;
    width: 25px;
    border-radius: 3px;
    background: #000;
    transition: 0.5s;
    position: absolute;
  }

  /* 三本線の一番上の棒の位置調整 */
  .drawer_open span:before {
    bottom: 8px;
  }

  /* 三本線の一番下の棒の位置調整 */
  .drawer_open span:after {
    top: 8px;
  }

  /* アイコンがクリックされたら真ん中の線を透明にする */
  #drawer_input:checked ~ .drawer_open span {
    background: rgba(0, 0, 0, 0);
  }

  /* アイコンがクリックされたらアイコンが×印になように上下の線を回転 */
  #drawer_input:checked ~ .drawer_open span::before {
    bottom: 0;
    transform: rotate(45deg);
  }

  #drawer_input:checked ~ .drawer_open span::after {
    top: 0;
    transform: rotate(-45deg);
  }

  #drawer_input:checked ~ #h-menu_black {
      display: block;
      opacity: .6;
  }

  /*メニュー以外を暗くする*/
  #h-menu_black {
      display: none;
      position: fixed;
      z-index: 98;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: black;
      opacity: 0;
      transition: .7s ease-in-out;
  }


  /* メニューのデザイン*/
  .nav_content {
  	background-color: #fff;
  	color: #333;
    width: 231px;
    height: 500px;
    position: absolute;
    top: 0;
    right: 500px;/* メニューを画面の外に飛ばす */
    z-index: 99;
    transition: .5s;
  	padding: 3rem 2rem 2rem;
  	text-align: left;
  	font-size: 1rem;
  	line-height: 1.5rem;
  	border: 1px solid #ebeadf;
  	opacity:90%;
  }

  /* メニュー黒ポチを消す */
  .nav_list {
    list-style: none;
  }
  .nav_list li{
  	margin: 1rem 0;
  	line-height: 1.2rem;
  }
  /*
  .nav_list li a{
  	padding:0.5rem;
  	width: 100%;
  	color: #47961a;
  }
  */
  .nav_item{
  	padding:0.5rem;
  	cursor: pointer;
  	color: #333;
  }
  .nav_item:hover{
  	background-color: #cbf2da;
  }
  .nav_item2{
  	padding:0.5rem;
  	cursor: pointer;
  	color: #333;
  }
  .nav_item2:hover{
  	background-color: #9fc3d4;
  }

  /* アイコンがクリックされたらメニューを表示 */
  #drawer_input:checked ~ .nav_content {
    /*top: 0px;*//* メニューを画面に入れる */
    right: 0;/* メニューを画面に入れる */
  }


}
